.wrapper {
   th {
      text-align: center;
   }
   .icon {
      width: 30px;
      height: 30px;
      margin-left: 10px;
   }
   .no-data {
      text-align: center;
      .btn-back {
         width: 200px;
         margin-top: 20px;
         padding: 12px 20px;
      }
   }
   .product {
      position: relative;
      overflow: hidden;
      max-width: 550px;
      padding: 12px 0 16px 16px;
      text-align: start;
      white-space: nowrap;
      text-overflow: ellipsis;

      .quantity {
         position: absolute;
         bottom: -2px;
         left: 10px;
         font-size: 14px;
         color: var(--slug-color);
      }
      .action {
         font-style: italic;
         font-weight: 600;
         justify-content: flex-start;
         width: 100%;

         &:hover {
            text-decoration: underline;
         }
         span {
            text-align: start;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 550px;
         }
      }
   }
}
