.wrapper {
   position: fixed;
   z-index: 999;
   inset: 0;
   display: flex;
   justify-content: center;

   .overlay {
      position: absolute;
      background-color: var(--gray);
      inset: 0;
   }

   .container {
      position: relative;
      z-index: 999;

      .btn-close {
         position: absolute;
         top: 40px;
         right: 32%;

         .icon {
            width: 30px;
            height: 30px;
         }

         &:hover {
            color: var(--slug-color);
         }
      }
   }
}
.open {
   visibility: unset;

   .container {
      animation: margin 0.3s forwards;

      @keyframes margin {
         from {
            opacity: 0;
            margin-top: 0;
            visibility: hidden;
         }
         to {
            margin-top: 100px;
            visibility: unset;
            opacity: 1;
         }
      }
   }
   .overlay {
      animation: show 0.5s forwards;

      @keyframes show {
         from {
            opacity: 0;
            visibility: hidden;
         }
         to {
            opacity: 0.8;
            visibility: unset;
         }
      }
   }
}
.close {
   visibility: hidden;
   transition: all 0.3s;

   .overlay {
      animation: hide 0.5s forwards;
      transition: all 0.3s;
      @keyframes hide {
         from {
            opacity: 0.6;
            visibility: unset;
         }
         to {
            opacity: 0;
            visibility: hidden;
         }
      }
   }
   .container {
      animation: margOut 0.3s forwards;

      @keyframes margOut {
         from {
            margin-top: 100px;
            opacity: 1;
         }
         to {
            opacity: 0;
            visibility: hidden;
            visibility: unset;
            margin-top: 0;
         }
      }
   }
}
