.wrapper {
   position: fixed;
   z-index: 99;
   inset: 0;
   display: flex;
   justify-content: center;
   padding-top: 50px;

   .overlay {
      position: absolute;
      background-color: var(--gray);
      inset: 0;
      z-index: 999;
   }

   .btn-close {
      position: absolute;
      top: 14%;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 999;

      .btn {
         padding: 20px;
         border-radius: 100%;
         background-color: aliceblue;

         &:hover {
            background-color: var(--border-color-gray);
            color: var(--slug-color);
         }
         .icon {
            width: 50px;
            height: 50px;
         }
      }
   }
   .container {
      position: relative;
      width: 50%;
      z-index: 999;
      margin-inline: auto;
      margin-top: 50px;
   }
}
.open {
   visibility: unset;

   .container,
   .btn-close {
      animation: margin 0.3s forwards;

      @keyframes margin {
         from {
            opacity: 0;
            margin-top: 0;
            visibility: hidden;
         }
         to {
            margin-top: 100px;
            visibility: unset;
            opacity: 1;
         }
      }
   }
   .overlay,
   .btn-close {
      animation: show 0.5s forwards;

      @keyframes show {
         from {
            opacity: 0;
            visibility: hidden;
         }
         to {
            opacity: 0.8;
            visibility: unset;
         }
      }
   }
}
.close {
   visibility: hidden;
   transition: all 0.3s;

   .overlay,
   .btn-close {
      animation: hide 0.5s forwards;
      transition: all 0.3s;
      @keyframes hide {
         from {
            opacity: 0.6;
            visibility: unset;
         }
         to {
            opacity: 0;
            visibility: hidden;
         }
      }
   }
   .container,
   .btn-close {
      animation: margOut 0.3s forwards;

      @keyframes margOut {
         from {
            margin-top: 100px;
            opacity: 1;
         }
         to {
            opacity: 0;
            visibility: hidden;
            visibility: unset;
            margin-top: 0;
         }
      }
   }
}
