.wrapper {
   display: flex;
   justify-content: center;

   .container {
      position: relative;
      border-radius: 6px;
      padding: 20px;
      margin-top: 20px;
      background-color: var(--white);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

      .btn-back {
         position: absolute;
         top: 10px;
         left: 10px;
         z-index: 9;
         padding: 10px;
         &:hover {
            opacity: 0.7;
         }
      }
      .btn {
         padding: 10px 16px;
         margin: 0 10px;
         background-color: var(--bg-header);
         color: var(--white);
         border-radius: 12px;
         font-weight: 600;

         &:hover {
            background-color: var(--orange-color);
            color: var(--text-color);
            transition: all 0.3s;
         }
      }
      .error {
         color: var(--slug-color);
         font-size: 13px;
      }
      .instruction {
         font-size: 14px;
         text-align: center;
         margin: 8px;
         color: var(--text-gray);
      }

      .input {
         padding: 10px;
         background-color: var(--bg-color);
         font-size: 16px;
      }
      .sub {
         font-size: 14px;
         justify-content: flex-start;
         color: var(--text-gray);

         &:hover {
            text-decoration: underline;
         }
      }
      .btn-sign-up {
         color: var(--slug-color);
         font-size: 16px;
         font-weight: 600;

         &:hover {
            text-decoration: underline;
            text-transform: initial;
         }
      }
   }
}
