.wrapper {
   width: 100%;
   border-radius: 6px;
   border: 1px solid var(--border-color-gray);
   background-color: var(--white);

   .container {
      position: relative;
      border-radius: 6px;
      cursor: pointer;
      overflow: hidden;

      &:hover .img {
         transform: scale(1.03);
         transition: all 0.2s;
      }

      .btn-overlay {
         position: absolute;
         inset: 0;
         z-index: 1;

         &:hover {
            border: 1px solid var(--text-gray);
         }
      }

      .category {
         position: absolute;
         top: 10px;
         right: 10px;
         color: var(--bs-light);
         font-weight: 600;
         background-color: var(--bs-danger);
         font-size: 18px;
         padding-inline: 10px;
         border-radius: 4px;
         z-index: 10;
      }
      .wrap-img {
         display: flex;
         justify-content: center;
         overflow: hidden;

         .img {
            // width: 200px;
            height: 350px;
            object-fit: cover;
            transition: all 0.3s;
         }
      }

      .content {
         padding: 10px 14px 20px;

         .date {
            color: var(--text-gray);
            font-size: 16px;
            margin: 8px 0;
            font-style: italic;
         }
         .title {
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
         }
         .description {
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 24px;
            word-spacing: 4px;
            text-transform: capitalize;
            color: var(--gray);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin: 8px 0;
         }
         .btn {
            padding: 8px 12px;
            color: var(--white);
            position: relative;
            z-index: 10;
            &:hover {
               color: var(--bg-header);
            }
         }
      }
   }
}
