.wrapper {
   width: 100%;
   border-radius: 6px;
   border: 1px solid var(--border-color-gray);
   background-color: var(--white);
   &:hover {
      border-color: var(--text-gray);
   }
   .container {
      border-radius: 6px;
      cursor: pointer;
      overflow: hidden;

      &:hover .img {
         transform: scale(1.03);
         transition: all 0.2s;
      }

      .wrap-img {
         display: flex;
         justify-content: center;
         padding: 2px;

         .img {
            // width: 200px;
            height: 350px;
            object-fit: cover;
            transition: all 0.3s;
         }
      }

      .content {
         padding: 10px 14px 20px;
         min-height: 250px;

         .date {
            color: var(--text-gray);
            font-size: 16px;
            margin: 8px 0;
            font-style: italic;
         }
         .title {
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
         }
         .description {
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            min-height: 120px;
            line-height: 24px;
            word-spacing: 4px;
            text-transform: capitalize;
            color: var(-gray);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            margin: 8px 0;
         }
         .btn {
            color: var(--white);
            padding: 8px 12px;
            transition: all 0.3s;

            &:hover {
               opacity: 0.8;
            }
         }
      }
   }
}
