.wrapper {
   display: inline-flex;
   align-items: center;
   color: currentcolor;
   justify-content: center;
   cursor: pointer;
   background-color: var(--white);
   border-radius: 4px;
   border: 1px solid transparent;
   user-select: none;

   &.disable {
      pointer-events: none;
      opacity: 0.5;
   }

   &:active {
      opacity: 0.8;
   }
}
.primary {
   background-color: var(--bg-header);
   cursor: pointer;
   color: var(--white);
   border-radius: 16px;
   transition: all 0.3s;

   &:hover {
      transition: all 0.3s;
      background-color: var(--orange-color);
      color: var(--text-color);
   }
}
.secondary {
   cursor: pointer;
   background-color: var(--border-color-gray);
   color: var(--orange-color);
   border-radius: 8px;

   &:hover {
      transition: all 0.3s;
      background-color: var(--text-color);
      color: var(--bg-color);
   }
}
.text {
   border: unset;
   text-decoration: none;
   background-color: transparent;
   color: #000;
   cursor: pointer;
}
.title {
   display: flex;
   align-items: center;

   .icon-loading {
      top: 10px;
      right: 20px;
      font-size: 16px;
      animation: rotation 0.8s linear infinite;

      @keyframes rotation {
         from {
            transform: rotate(0deg);
         }
         to {
            transform: rotate(360deg);
         }
      }
   }
}
.icon + .title,
.title + .icon {
   margin: 0 4px;
}
.disable {
   pointer-events: none;
   opacity: 0.5 !important;
   cursor: not-allowed;
   min-width: 100px;
}
.icon {
   display: flex;
   text-align: center;
   align-items: center;
}
