@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,700&display=swap');

:root {
   --text-color: #3b4149;
   --border-color-gray: #d6d6d6;
   --text-gray: #99a2aa;
   --gray: #524b4b;
   --black: #161823;
   --bg-header: #131921;
   --white: #ffff;
   --blue: #3760ff;
   --green: #48bb78;
   --font-family: 'Roboto', sans-serif;
   --default-layout-width: 1150px;
   --orange-color: #ffd333;
   --slug-color: #dd551b;
   --bg-color: #f8f9fa;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
   font-size: 62.5%;
}
body {
   font-family: var(--font-family);
   font-size: 1.6rem;
   line-height: 1.5;
   color: var(--black);
   text-rendering: optimizeSpeed;
   overflow-y: overlay;
}
// scrollbar css
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
   z-index: -1;
}

html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0);
}

button,
textarea,
input,
Link [tabIndex] {
   border: none;
   outline: none;
}

a[href] {
   border: none;
   text-decoration: none;
}

.icon {
   width: 24px;
   height: 24px;
}
.icon-active {
   color: var(--slug-color);
}

.error {
   color: var(--slug-color);
   font-size: 12px;
}
