.wrapper {
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--bg-color);
      .btn {
         position: fixed;
         bottom: 40px;
         right: 30px;
         border-radius: 100%;
         padding: 4px;
         z-index: 9999;
         background-color: var(--slug-color);
         transition: all 0.35s;

         &:hover {
            background-color: var(--orange-color);
            transition: all 0.35s;
         }
         &:hover .icon {
            color: var(--bg-header);
         }
         .icon {
            width: 30px;
            height: 30px;
            color: var(--white);
         }
      }
      .isScroll {
         transition: all 0.35s;
         bottom: -100px;
      }
   }
}
