.wrapper {
   padding: 24px 0;
   margin-bottom: 40px;

   .map {
      width: 100%;
      min-height: 450px;
   }
   .content {
      padding: 20px;
      margin-top: 40px;
      border-radius: 4px;

      .form-submit {
         margin-top: 20px;
         background-color: var(--white);
         border-radius: 6px;
         padding: 14px;
         box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

         .field {
            margin: 12px 0;

            .input {
               width: 100%;
               padding: 12px;
               border-radius: 4px;
               font-size: 20px;
               background-color: var(--bg-color);
            }
            textarea {
               width: 100%;
               min-height: 120px;
               border-radius: 4px;
               font-size: 20px;
               resize: unset;
               background-color: var(--bg-color);
               padding: 12px;
            }
         }
         .btn {
            padding: 16px 12px;
            font-size: 20px;
            width: 50%;
            margin-top: 20px;

            &:hover {
               opacity: 0.85;
            }
         }
      }
      .contact {
         padding-left: 20px;
         font-size: 18px;
         align-items: flex-start;
         margin-top: 20px;
         background-color: var(--white);
         border-radius: 6px;
         padding: 14px;
         box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

         .link {
            font-size: 16px;
            color: #545252bd;
            width: 100%;
            justify-content: flex-start;

            &:hover {
               text-decoration: underline;
               color: var(--slug-color);
            }
         }
      }
   }
}
