.wrapper {
   display: flex;
   width: 100%;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px 0px;

   h1 {
      color: var(--text-color);
      margin: 8px 0;
   }
   section {
      margin-bottom: 50px;
   }
   .container {
      width: 80%;

      .marquee {
         padding: 25px 0;
         border-radius: 6px;
      }

      .collection {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
      }
      .special {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 10px;
      }
      .blogs {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-row-gap: 20px;
         grid-column-gap: 10px;
      }
   }
}
