.wrapper {
   position: relative;
   background-color: var(--white);
   color: #000;
   display: flex;
   width: 100%;

   .badge {
      position: absolute;
      top: 2px;
      left: 2px;
      font-size: 16px;
      background-color: var(--orange-color);
      color: var(--text-color);
      padding: 0px 10px;
      z-index: 9;
      border-radius: 2px;
   }
   .container {
      width: 100%;
      position: relative;
      padding: 8px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 2;
      transition: all 0.2s;
      cursor: pointer;

      &:hover .img {
         transform: scale(1.03);
      }

      .overlay {
         content: '';
         position: absolute;
         border-radius: 2px;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 9;
         width: 100%;
         height: 100%;
         border: 1px solid var(--slug-color);
         opacity: 0;
      }
      &:hover .overlay {
         background-color: #99969615;
         transition: all 0.4s;
         width: 100%;
         height: 100%;
         opacity: 1;
      }

      .wrap-img {
         display: flex;
         justify-content: center;

         .img {
            height: 236px;
            object-fit: contain;
            transition: all 0.2s;
            border-radius: 4px;
         }
      }

      .info {
         flex: 1;
         padding: 12px 10px;

         .description {
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            word-spacing: 4px;
            text-transform: capitalize;
            color: var(--gray);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            margin: 8px 0;
         }
         .slug {
            position: relative;
            display: flex;
            margin-top: 14px;
            justify-content: space-between;
            font-size: 14px;
            margin-inline: 4px;

            p {
               color: var(--slug-color);
               word-break: break-word;
               text-overflow: ellipsis;
               overflow: hidden;
               width: 120px;
               white-space: nowrap;
            }
            .btn {
               right: 0;
               z-index: 99;
               position: absolute;
            }
         }
         .title {
            margin-top: 12px;
            font-size: 18px;
            text-transform: capitalize;
            letter-spacing: 0.3px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            min-height: 48px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-word;
         }

         .price {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: var(--text-color);

            .origin-price {
               margin-left: 4px;
               margin-bottom: 0;
               font-weight: 700;
               color: #cb1c22;
               line-height: normal;
            }
         }
         .sold {
            margin-top: 12px;
            color: var(--text-gray);
            line-height: 16px;
            font-size: 14px;
         }
         .rating {
            margin-top: 12px;
         }
      }
   }
   .sort {
      flex-direction: row;
      &:hover .wrap-btn {
         visibility: unset;
         opacity: 1;
         right: 20px;
         transition: all 0.2s;
      }

      .wrap-img {
         position: relative;
         z-index: 8;
         width: 30%;
      }

      .info {
         flex: 1;
         padding: 12px 10px;
      }
   }
}
