.wrapper {
   display: flex;
   flex-direction: column;
   gap: 30px;

   .wrap-blocks {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 30px;
      border-bottom: 1px solid var(--border-color-gray);

      .block {
         background-color: var(--white);
         padding: 12px;
         border-radius: 4px;
         flex: 1;
      }
      .statistic {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;

         .money {
            font-size: 24px;
            font-weight: 600;
            color: var(--black);
         }
         .content {
            text-align: right;
            color: var(--bg-header);
            font-size: 16px;
            font-weight: 600;

            p {
               font-size: 14px;
               font-style: italic;
            }
         }
      }
   }
   .chart {
      flex: 1;
      width: 50%;
      border-bottom: 1px solid var(--border-color-gray);
      padding-bottom: 20px;
      margin-bottom: 50px;
      .content {
         padding: 0 10px;
         width: 100%;
      }
   }
}
