.wrapper {
   padding: 16px 30px;
   padding-bottom: unset;
   padding: 40px 0px;

   .title {
      padding: 20px 40px;
      border-bottom: 1px solid var(--border-color-gray);
      background-color: var(--white);

      .info {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         overflow: hidden;

         .content {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-top: 12px;
            font-size: 16px;
            padding-bottom: 4px;
            line-height: 1.5;
            text-transform: capitalize;
            letter-spacing: 0.3px;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }

      .color {
         margin-right: 10px;
         margin-top: 8px;
         cursor: pointer;
         display: flex;
         width: 20px;
         align-items: center;
         justify-content: center;
         height: 20px;
         // background-color: var(--orange-color);
         border-radius: 100%;
      }
      .img {
         width: 100%;
         transition: all 0.3s;

         &:hover {
            transform: scale(1.05);
            transition: all 0.3s;
         }
      }
   }
   .price {
      font-weight: 600;
      display: flex;
      gap: 10px;
      font-size: 18px;
      align-items: center;

      .btn-delete {
         &:hover {
            color: var(--slug-color);
         }
      }
   }

   .country {
      padding-left: 30px;
      margin-top: 30px;
   }
   .btn {
      padding: 12px 20px;
      border-radius: 30px;
   }
   .text {
      color: var(--text-gray);
      font-size: 18px;
      margin: 16px 0;

      span {
         color: var(--text-color);
      }
   }
}
