.wrapper {
   padding: 16px 30px;
   padding-bottom: unset;
   padding: 40px 0px;

   .title {
      padding: 20px 40px;
      border-bottom: 1px solid var(--border-color-gray);
      background-color: var(--white);

      input {
         height: 30px;
         border-radius: 2px;
         text-align: center;
         font-size: 16px;
         background-color: var(--white);
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
         display: none;
      }
      .btn-quantity {
         &:active {
            color: var(--text-gray);
         }
      }
      span {
         display: flex;
         flex-direction: column;
         row-gap: 6px;

         .icon-btn {
            opacity: 0.9;
            border: 1px solid var(--text-color);
            padding: 4px;
            &:hover {
               opacity: 1;
            }
         }
      }
      .product-detail {
         display: flex;

         .info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;

            .content {
               margin-top: 12px;
               font-size: 20px;
               text-transform: capitalize;
               letter-spacing: 0.3px;
               overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;

               .color {
                  margin-right: 10px;
                  margin-top: 8px;
                  cursor: pointer;
                  display: flex;
                  width: 20px;
                  align-items: center;
                  justify-content: center;
                  height: 20px;
                  background-color: var(--orange-color);
                  border-radius: 100%;
               }
            }
         }

         .img {
            width: 100%;
            transition: all 0.3s;

            &:hover {
               transform: scale(1.05);
               transition: all 0.3s;
            }
         }
      }
      .price {
         font-weight: 600;
         display: flex;
         gap: 10px;
         font-size: 18px;
         align-items: center;

         .btn-delete {
            &:hover {
               color: var(--slug-color);
            }
         }
      }

      .country {
         padding-left: 30px;
         margin-top: 30px;
      }
      .btn {
         padding: 12px 20px;
         border-radius: 30px;
      }
      .text {
         color: var(--text-gray);
         font-size: 18px;
         margin: 16px 0;

         span {
            color: var(--text-color);
         }
      }
   }
}
