.wrapper {
   position: relative;
   display: flex;
   width: 100%;
   background-color: var(--white);
   box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
   border-radius: 10px;
   margin-bottom: 10px;

   .disable {
      opacity: 0.45;
      cursor: unset;
   }
   .container {
      padding: 10px;

      .block-img {
         position: relative;

         .badge {
            position: absolute;
            padding: 4px 10px;
            background-color: var(--orange-color);
            color: var(--bg-header);
            top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 10px;
            z-index: 10;
         }
         .main-img {
            overflow: hidden;
            border-radius: 6px;
            cursor: pointer;

            &:hover .img {
               transition: all 0.5s;
               transform: rotateY(360deg);
            }
            .img {
               width: 100%;
               height: 100%;
               height: 212px;
               object-fit: contain;
               transition: all 0.3s;
            }
         }

         .sub-img {
            display: flex;
            width: 100%;
            overflow: hidden;
            border-radius: 4px;
            border: 1px solid var(--border-color-gray);
            cursor: pointer;
            padding: 8px;

            &:hover .img {
               transition: all 0.3s;
               transform: scale(1.07);
            }
            .img {
               object-fit: contain;
            }
         }
      }
      .info {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         color: var(--text-color);

         .brand {
            color: var(--slug-color);
            margin-bottom: 10px;
         }

         .title {
            overflow: hidden;
            text-transform: capitalize;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-bottom: 10px;
            -webkit-line-clamp: 2;
         }
         .price {
            color: #ff2d55;
            font-weight: 600;

            s {
               color: var(--text-gray);
            }
         }

         .date {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .time {
               display: flex;
               justify-content: center;
               align-items: center;
               margin-inline: 4px;
               color: var(--white);
               width: 26px;
               height: 30px;
               border-radius: 100%;
               background-color: #f52f32;
            }
         }

         .quantity {
            width: 100%;

            .range {
               position: relative;
               background: linear-gradient(to right, rgb(233 231 231 / 71%), rgb(191 185 185 / 94%));
               display: flex;
               justify-content: flex-start;
               border-radius: 4px;
               width: 100%;
               height: 10px;
               margin-bottom: 10px;
               margin-top: 4px;

               .value {
                  height: 100%;
                  bottom: 0;
                  left: 0;
                  align-items: center;
                  font-size: 12px;
                  width: 10%;
                  display: flex;
                  justify-content: center;
                  z-index: 9;
                  text-align: center;
                  position: absolute;
                  border-radius: 4px;
                  background-color: #2196f3;
               }
            }
         }
         .btn {
            width: 100%;
            padding: 12px 16px;
            margin: 8px 0;
            font-size: 16px;
            color: var(--white);

            &:hover {
               color: var(--bg-header);
            }
         }
      }
   }
}
