.wrapper {
   padding: 20px 0;

   .container {
      .detail {
         .btn-back {
            font-weight: 600;
            &:hover {
               text-decoration: underline;
            }
         }
         input {
            width: 100%;
            border-radius: 4px;
            padding: 10px;
            border: 1px solid var(--border-color-gray);
         }

         .btn-select {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            background-color: var(--white);
         }
         .text {
            font-size: 14px;
            margin-bottom: 0;
            color: var(--gray);
         }
         .icon {
            width: 16px;
            height: 16px;
         }
      }

      .btn-country {
         font-size: 14px;
         padding: 10px 18px;
         transition: all 0.3s;
         font-weight: 600;
         color: var(--white);

         &:hover {
            transition: all 0.3s;
            color: var(--text-color);
            background-color: var(--orange-color);
            opacity: 0.85;
         }
      }
      .product {
         .wrap-product {
            height: 350px;
            overflow: overlay;
            padding: 10px;
            background-color: var(--white);
            border-radius: 4px;

            &:hover {
               overflow: overlay;
            }
            .info {
               display: flex;
               justify-content: space-between;
               margin: 10px 0;
               background-color: var(--bg-color);
               border-radius: 4px;
               align-items: center;
               padding: 10px;

               .price {
                  font-size: 16px;
                  font-weight: 600;
                  color: var(--text-color);
                  margin-right: 10px;
               }
               .wrap-img {
                  position: relative;
                  display: flex;
                  gap: 16px;
                  align-items: center;

                  .wrap-name {
                     color: var(--gray);

                     .name-prod {
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 12px;
                        overflow: hidden;
                        text-transform: capitalize;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                     }

                     .color {
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;
                        background-color: chocolate;
                     }
                  }
                  .count {
                     position: absolute;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     left: 10px;
                     top: 2%;
                     width: 20px;
                     height: 24px;
                     border-radius: 100%;
                     font-size: 14px;
                     color: var(--white);
                     z-index: 4;
                     background-color: var(--bs-red);
                  }
                  .img {
                     max-width: 120px;
                     max-height: 120px;
                     object-fit: cover;
                     background-color: var(--white);
                  }
               }
            }
         }

         .calculate {
            border-top: 1px solid var(--border-color-gray);
            border-bottom: 1px solid var(--border-color-gray);
            padding: 20px 0;
            color: var(--gray);
         }
         .field {
            display: flex;
            padding: 10px 0;
            margin: 10px 0;
            justify-content: space-between;
            font-size: 16px;

            .price {
               color: var(--text-color);
               font-weight: 600;
            }
         }
      }
   }
}
