.wrapper {
   display: flex;
   justify-content: center;
   padding: 20px 0;
   width: 100%;
   height: 100vh;

   .container {
      display: flex;
      justify-content: center;
      gap: 30px;
      width: 90%;

      .detail {
         font-size: 14px;
         margin: 16px 0;
         display: flex;
         flex: 1;
         flex-direction: column;
         gap: 20px;

         .btn-back {
            font-weight: 600;
            &:hover {
               text-decoration: underline;
            }
         }
         input {
            width: 100%;
            border-radius: 4px;
            padding: 10px;
            border: 1px solid var(--border-color-gray);
         }
         .title {
            font-size: 20px;
         }

         p {
            color: var(--text-color);
         }
         .btn-select {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            background-color: var(--white);
         }
         .email {
            font-size: 14px;
            color: var(--gray);
         }
         .icon {
            width: 16px;
            height: 16px;
         }
      }
      .wrap-input {
         display: flex;
         gap: 10px;
         justify-content: space-between;

         .input-field {
            flex: 1;
         }

         .btn-select {
            flex: 1;
         }
         .btn-country {
            font-size: 14px;
            padding: 10px 18px;
            transition: all 0.3s;
            font-weight: 600;

            &:hover {
               transition: all 0.3s;
               color: var(--text-color);
               background-color: var(--orange-color);
               opacity: 0.85;
            }
         }
      }
      .product {
         flex: 1;

         .wrap-product {
            height: 350px;
            overflow: overlay;
            padding: 0 10px;
            background-color: var(--white);
            border-radius: 4px;

            &:hover {
               overflow: overlay;
            }
            .info {
               display: flex;
               justify-content: space-between;
               margin: 10px 0;
               background-color: var(--bg-color);
               border-radius: 4px;
               align-items: center;
               padding: 10px;

               .price {
                  font-size: 14px;
                  font-weight: 600;
                  margin-right: 50px;
               }
               .wrap-img {
                  position: relative;
                  display: flex;
                  gap: 16px;
                  align-items: center;

                  .wrap-name {
                     color: var(--gray);
                     .name-prod {
                        font-weight: 600;
                        font-size: 16px;
                     }
                     .description {
                        font-size: 14px;
                     }
                     .color {
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;
                        background-color: chocolate;
                     }
                  }
                  .count {
                     position: absolute;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     left: 30%;
                     top: -30%;
                     width: 20px;
                     height: 24px;
                     border-radius: 100%;
                     font-size: 14px;
                     color: var(--white);
                     z-index: 4;
                     background-color: var(--gray);
                  }
                  .img {
                     width: 60px;
                     height: 60px;
                     object-fit: cover;
                     background-color: var(--white);
                  }
               }
            }
         }

         .calculate {
            border-top: 1px solid var(--border-color-gray);
            border-bottom: 1px solid var(--border-color-gray);
            padding: 20px 0;
            color: var(--gray);
         }
         .field {
            display: flex;
            padding: 10px 0;
            margin: 10px 0;
            justify-content: space-between;
            font-size: 16px;

            .price {
               color: var(--text-color);
            }
         }
      }
   }
}
