.wrapper {
   width: 90%;
   display: flex;
   padding: 24px 0;

   .title {
      font-size: 20px;
      margin-bottom: 16px;
   }
   span {
      text-transform: capitalize;
   }
   .filter-list {
      flex-basis: 20%;
      max-width: 20%;

      .filter-block {
         display: flex;
         flex-direction: column;
         border: 4px;
         border-radius: 6px;
         background-color: var(--white);

         .filter-container {
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            border-radius: 4px;

            .price {
               display: flex;
               width: 100%;
               justify-content: space-between;
               gap: 10px;

               .input {
                  width: 100%;
                  padding: 4px 10px;
                  font-size: 16px;
                  cursor: pointer;
                  border: 1px solid var(--border-color-gray);
                  border-radius: 4px;
               }
            }
         }
         .option {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .btn {
               border-radius: 4px;
               font-weight: 600;
               padding: 12px 8px;
               color: var(--text-color);
               background-color: var(--bg-color);

               &:hover {
                  color: var(--white);
                  background-color: var(--text-gray);
               }
            }
         }
      }
   }
   .products {
      flex: 1;
      margin-left: 10px;

      .filter-sort {
         display: flex;
         width: 100%;
         align-items: center;
         padding: 0 10px;
         font-size: 16px;
         justify-content: space-between;
         box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
         background-color: var(--white);
         margin-bottom: 20px;
         border-radius: 6px;

         .sort-by {
            display: flex;
            align-items: center;
            gap: 10px;
         }
         .sort-icons {
            display: flex;
            align-items: center;

            .wrap-icon {
               display: flex;
               align-items: center;

               .icon-filter {
                  margin-right: 8px;
                  padding: 6px;
                  display: flex;
                  align-items: center;
                  cursor: pointer;
               }

               .active {
                  border-radius: 6px;
                  background-color: #000000;
                  color: #f8f9fa;

                  .icon {
                     fill: #fff;
                  }
               }
            }
            p {
               font-size: 16px;
               color: #545252bd;
               margin-right: 16px;
               margin-bottom: 0;
            }
         }
      }
      .product {
         display: flex;
         flex-wrap: wrap;

         .collection {
            max-width: 25%;
            margin: 10px 0;
         }
      }
      .sort-1 {
         .collection {
            min-width: 100%;
            margin: 10px 0;
         }
      }
      .sort-2 {
         .collection {
            max-width: 50%;
            margin: 10px 0;
         }
      }
      .sort-3 {
         .collection {
            max-width: 33%;
            margin: 10px 0;
         }
      }
      .sort-4 {
         .collection {
            max-width: 25%;
            margin: 10px 0;
         }
      }
   }
}
