@import '~bootstrap/scss/bootstrap';

.wrapper {
   display: flex;
   justify-content: space-between;
   // height: 420px;
   font-family: var(--font-pretty);
   border-radius: 16px;

   .slider {
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;
      padding-inline: 0;

      .wrap-img {
         position: relative;
         width: 100%;
         height: 450px;

         .img {
            height: 100%;
            object-fit: cover;
         }
      }
      .slide-show {
         position: absolute;
         top: 14%;
         bottom: 0;
         left: 7%;
         right: auto;

         .slide-text {
            color: var(--slug-color);
            margin: 0 0 12px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
         }

         .slide-title {
            letter-spacing: -2px;
            font-weight: 600;
            clear: both;
            font-size: 44px;
            margin: 10px 0 12px;
         }
         .slide-desc {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 26px;
            max-width: 180px;
         }

         .slide-btn {
            padding: 10px 22px;
            text-transform: uppercase;
            transition: all 0.3s;

            &:hover {
               background-color: var(--orange-color);
               transition: all 0.3s;
               color: var(--text-color);
            }
         }
      }
   }

   .banner {
      padding-inline: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 16px;

      &::-webkit-scrollbar {
         width: 2px;
         background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
         background-color: rgba(0, 0, 0, 0.2);
         border-radius: 100%;
      }

      &::-webkit-scrollbar-thumb:hover {
         background-color: rgba(0, 0, 0, 0.4);
      }

      .element {
         width: calc(50% - 5px);
         position: relative;
         overflow: hidden;
         background-color: transparent;
         height: calc(50% - 2.5px);
         border-radius: 16px;
         cursor: pointer;
         padding-inline: 0;
         z-index: 1;

         &:hover .img-banner {
            transition: all 0.6s;
            transform: scale(1.08);
         }

         .banner-show {
            position: absolute;
            top: 16%;
            bottom: 0;
            left: 7%;
            right: auto;
            z-index: 2;

            .banner-text {
               text-transform: uppercase;
               color: #bf4800;
               letter-spacing: 0.2px;
               font-weight: 600;
            }
            .banner-title {
               font-size: 20px;
               font-weight: 500;
               text-transform: capitalize;
               color: var(--color-base-accent-1);
               letter-spacing: 0;
               line-height: 36px;
            }
         }
         .banner-desc {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.2px;
            max-width: 130px;
            color: var(--color-base-accent-1);
         }

         .img-banner {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            border-radius: 16px;
            inset: 0;
         }
      }
   }

   @include media-breakpoint-down(xl) {
      .banner {
         flex-direction: row;
         flex-wrap: wrap;
         overflow-y: scroll;
         gap: 10px;
         padding-right: 4px;

         .element {
            width: 100%;
         }
      }
   }

   @include media-breakpoint-down(md) {
      gap: 10px;
      .banner {
         padding-inline: 0;
         overflow-y: unset;
         margin-left: 0px;

         .element {
            width: calc(50% - 5px);
            height: calc(50% - 2.5px);
            padding-inline: 0;

            .img-banner {
               position: unset;
            }
         }
      }
   }

   @include media-breakpoint-down(sm) {
      .slider {
         .slide-show {
            top: 12%;
            max-width: 200px;
            left: 5%;

            .slide-text {
               margin-bottom: 0;
               font-size: 14px;
               margin-bottom: 6px;
               letter-spacing: 0;
            }
            .slide-title {
               margin-bottom: 10px;
               font-size: 28px;
            }
            .slide-desc {
               font-size: 14px;
               margin-bottom: 14px;
            }
            .slide-btn {
               padding: 8px 12px;
               span {
                  font-size: 14px;
                  opacity: 0.85;
               }
               &:hover {
                  opacity: 1;
               }
            }
         }
      }
      .banner {
         .element {
            .banner-show {
               left: 5%;
               top: 30%;

               .banner-text {
                  font-size: 11px;
                  letter-spacing: 0;
                  margin-bottom: 4px;
               }
               .banner-title {
                  margin-bottom: 10px;
                  font-size: 16px;
                  letter-spacing: 0.4;
                  line-height: 1;
               }
            }
            .banner-desc {
               display: none;
            }
         }
      }
   }
}
