.wrapper {
   display: flex;
   flex-wrap: wrap;
   border-radius: 6px;
   overflow: hidden;
   padding: 20px 0;

   .container {
      width: 25%;
      display: flex;
      color: var(--text-color);
      border: 1px solid rgba(0, 0, 0, 0.05);

      .content {
         width: 100%;
         display: flex;
         align-items: center;
         padding: 30px 20px;
         transition: all 0.2s;
         border-radius: 4px;

         &:hover {
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 28%);
            cursor: pointer;
            background-color: var(--white);
            transform: scale(1.03);
         }

         .icon {
            width: 36px;
            height: 36px;
         }
         .title {
            font-weight: 600;
            margin-right: 8px;
         }
      }
   }
}
