.wrapper {
   width: calc(100% - 32px);
   padding: 10px 16px;
   margin: 0 auto;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;

   .container {
      position: relative;
      width: calc(20% - 20px);
      margin: 10px 4px;
      padding: 12px;
      background-color: var(--white);
      border-radius: 4px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

      &:hover .img {
         transform: scale(1.03);
         transition: transform 0.3s;
      }
      .img {
         width: 100%;
         transition: transform 0.3s;
         padding: 20px;
      }
      .icon-close {
         position: absolute;
         right: 10px;
         z-index: 10;
         cursor: pointer;
         color: var(--text-color);

         &:hover {
            opacity: 0.85;
         }
      }
      .content {
         display: flex;
         flex-direction: column;

         .title {
            font-size: 18px;
            margin-top: 12px;
            word-break: break-all;
            overflow: hidden;
            text-transform: capitalize;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
         }
         .price {
            font-size: 14px;
            color: #a7a7b1;
            margin: 14px 0;
         }
         .description {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 0;

            .name {
               font-weight: 600;
               font-size: 16px;
            }
            .value {
               display: flex;
               align-items: center;
               font-weight: 400;
               font-size: 14px;
            }
            .color {
               display: flex;
               align-items: center;
               flex: 1;
               justify-content: flex-end;

               span {
                  margin-left: 8px;
                  width: 14px;
                  height: 14px;
                  border-radius: 100%;
                  background-color: red;
                  cursor: pointer;
               }
            }
            &::before {
               content: '';
               position: absolute;
               width: 0.5px;
               width: 100%;
               top: 0;
               border-radius: 10px;
               right: 0;
               border: 0.5px solid var(--border-color-gray);
            }
         }
      }
   }
}
