.wrapper {
   background-color: var(--bg-header);
   color: var(--text-gray);

   .news-letter {
      margin-top: 20px;
      padding: 70px 0px;
      border-bottom: 1px solid var(--border-color-gray);
      .text {
         color: var(--white);

         h4 {
            font-size: 25px;
         }
         p {
            font-size: 16px;
         }
      }
      .input {
         padding: 17px 20px;
         border-radius: 4px;
         border: none;
      }

      .btn {
         color: var(--white);
         background-color: var(--bg-header);
         padding-inline: 10px;

         &:hover {
            transition: all 0.25s;
            color: var(--bg-header);
            background-color: var(--orange-color);
         }
      }
   }
   .container {
      padding: 40px 0;

      .logo {
         margin-top: 12px;
         overflow: hidden;
         transition: all 0.3s;
         padding-inline: 10px;
         overflow: hidden;
         color: var(--white);

         .link {
            color: var(--white);
            width: 100%;
            &:hover {
               text-decoration: underline;
            }
         }

         .wrap-logo {
            border-bottom: 1px solid var(--border-color-gray);
            padding-inline: 10px;
            overflow: hidden;

            .marquee {
               display: flex;
               width: 600px;
            }
            .img {
               width: 70px;
               height: 70px;
            }
         }
      }
      .information {
         margin: 20px 0;
         .content {
            h3 {
               font-size: 18px;
               text-align: center;
               color: var(--white);
            }

            p {
               cursor: pointer;
               text-align: center;
               font-size: 16px;
               margin-top: 4px;
               margin-bottom: 0;
               color: var(--border-color-gray);

               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   }
   .copyright {
      border-top: 1px solid var(--border-color-gray);
      width: 100%;
   }
}
