.wrapper {
   display: flex;
   justify-content: center;
   background-color: var(--bg-header);
   color: var(--white);
   width: 100%;
}

.icon {
   width: 36px;
   height: 36px;
}
.container {
   width: 100%;

   .contact {
      height: 38px;
      width: 100%;
      border-bottom: 1px solid var(--text-color);
      display: flex;
      justify-content: center;

      .contact-container {
         width: 90%;
         height: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   .content {
      width: 100%;
      display: flex;
      position: relative;
      z-index: 9;
      justify-content: center;
      background-color: var(--bg-header);
      transition: all 0.5s;
      padding: 14px 0;

      .content-main {
         width: 90%;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .trademark {
            flex: 1;
            max-width: 18%;

            .logo {
               color: var(--white);
            }
         }

         .input-form {
            position: relative;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            margin-right: 20px;

            .icon-search {
               border-radius: 0 4px 4px 0;
               background-color: var(--orange-color);
               width: 36px;
               color: var(--white);
               height: 36px;

               &:hover {
                  cursor: pointer;
                  opacity: 0.85;
               }
            }
         }
         .option-wrapper {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;

            p {
               margin-bottom: 0;
            }
            .option {
               display: flex;
               position: relative;
               align-items: center;
               color: var(--white);
               cursor: pointer;
               width: 30%;
               max-width: 152px;

               .btn-action {
                  color: var(--white);

                  .fist-name {
                     display: block;
                     max-width: 56px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                  }

                  .icon-drop {
                     animation: rotateRight 0.5s forwards;

                     @keyframes rotateRight {
                        from {
                           transform: rotate(180deg);
                        }
                        to {
                           transform: rotate(0);
                        }
                     }
                  }

                  .active {
                     animation: rotateLeft 0.3s forwards;

                     @keyframes rotateLeft {
                        from {
                           transform: rotate(0);
                        }
                        to {
                           transform: rotate(180deg);
                        }
                     }
                  }
               }

               .drop-down {
                  position: absolute;
                  left: 6%;
                  background-color: #fff;
                  top: 50px;
                  width: 162px;
                  z-index: 999;
                  border-radius: 4px;
                  list-style-type: none;
                  transition: all 0.3s;
                  padding: 10px 0;
                  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

                  li {
                     padding: 12px;
                     width: 100%;
                     display: flex;
                     justify-content: space-between;
                     color: var(--text-color);

                     .btn-tooltip {
                        font-size: 16px;
                        color: var(--text-color);
                        font-weight: 600;
                     }
                     .icon {
                        width: 20px;
                        height: 20px;

                        &:hover {
                           color: var(--text-color);
                        }
                     }

                     &:hover {
                        background-color: var(--border-color-gray);
                     }
                  }
               }
            }

            .option-content {
               display: flex;
               flex-direction: column;
               align-items: center;
               margin-left: 4px;

               .quantity {
                  position: relative;
                  background-color: var(--white);
                  color: var(--bg-header);
                  width: 100%;
                  text-align: center;
                  border-radius: 6px;
                  font-size: 14px;
                  font-weight: 700;
                  margin-bottom: 6px;

                  &::before {
                     content: '';
                     position: absolute;
                     width: 100%;
                     height: 0.5px;
                     bottom: -4px;
                     left: 0;
                     background-color: var(--white);
                     border-radius: 6px;
                  }
               }
            }
            .img {
               width: 52px;
               height: 52px;
               border: 1px solid;
               border-radius: 4px;
               padding: 4px;
               margin-right: 6px;
            }
         }
      }
   }
}
.fixed {
   position: fixed !important;
   z-index: 99;
   top: 0;
   padding: 10px 0;
   transition: all 0.5s;
}
.menu {
   width: 100%;
   display: flex;
   justify-content: center;
   border-bottom: 1px solid var(--border-color-gray);
   background-color: #232f3e;

   .menu-container {
      width: 90%;
      display: flex;
      align-items: center;
   }
   .icon {
      width: 24px;
      height: 24px;
   }
   .menu-drop {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      gap: 12px;
      min-width: 300px;
      cursor: pointer;
      background-color: transparent;

      p {
         margin-left: 6px;
      }
   }
   .menu-option {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      font-size: 20px;

      .btn {
         padding: 4px 0;
         color: var(--white);
         border-radius: unset;
         width: 100px;
         font-size: 18px;
         text-transform: capitalize;
         padding: 10px 0;

         &:hover {
            background-color: #6481a5;
         }
      }
   }
}
