@import '~bootstrap/scss/bootstrap';

.wrapper {
   background-color: var(--bg-header);
   color: var(--white);

   .icon {
      width: 36px;
      color: var(--white);
      height: 36px;
   }
   .contact {
      height: 38px;
      border-bottom: 1px solid var(--text-color);
   }

   .content {
      position: relative;
      z-index: 9;
      background-color: var(--bg-header);
      transition: all 0.5s;
      padding: 14px 0;

      .content-main {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .trademark {
            .img {
               width: 100%;
               max-height: 50px;
               object-fit: cover;
            }
         }

         .input-form {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .input {
               width: 100%;
               border: unset;
               height: 36px;

               input {
                  width: 100%;
                  padding: 8px;
                  border-radius: 4px 0 0 4px;
                  font-size: 14px;
                  height: 100%;
                  font-weight: 600;
                  border: unset;
               }
            }
            .icon-search {
               border-radius: 0 4px 4px 0;
               background-color: var(--orange-color);
               width: 36px;
               color: var(--white);
               height: 36px;

               &:hover {
                  cursor: pointer;
                  opacity: 0.85;
               }
            }
         }
         .option-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;

            .option {
               display: flex;
               position: relative;
               color: var(--white);
               cursor: pointer;
               justify-content: flex-end;
               align-items: center;
               // width: 30%;

               .btn-action {
                  color: var(--white);
                  position: relative;

                  .name {
                     display: block;
                     max-width: 50px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                  }
               }

               .drop-down {
                  position: absolute;
                  left: 6%;
                  background-color: var(--white);
                  color: var(--text-color);
                  top: 50px;
                  width: 164px;
                  z-index: 1;
                  border-radius: 4px;
                  transition: all 0.3s;
                  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
                  max-height: 0px;
                  visibility: hidden;
                  transition: all 0.3s;
                  opacity: 0;

                  .drop-element {
                     width: 100%;
                     display: flex;
                     justify-content: flex-start;

                     span {
                        font-size: 16px;
                        padding: 10px;
                        font-weight: 600;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                     }

                     &:hover {
                        background-color: var(--text-gray);
                     }
                  }
                  .icon {
                     width: 20px;
                     height: 20px;
                     color: var(--text-color);
                  }
               }
            }
            .active {
               .icon,
               .text {
                  transition: all 0.3s;
                  color: var(--border-color-gray);
                  opacity: 0.76;
               }
               .drop-down {
                  opacity: 1;
                  z-index: 99;
                  visibility: unset;
                  max-height: 200px;
               }
            }
         }
      }
   }
   .fixed {
      position: fixed !important;
      z-index: 99;
      top: 0;
      left: 0;
      right: 0;
      padding: 8px 0;
      transition: all 0.5s;
   }
}

@include media-breakpoint-down(lg) {
   .option-wrapper {
      gap: 6px !important;
   }
}

@include media-breakpoint-down(md) {
   .trademark {
      .img {
         height: 46px;
      }
   }
   .content {
      padding: 4px 0 !important;
   }
   .option-wrapper {
      justify-content: flex-end !important;
      .drop-down {
         left: -54px !important;
         width: 142px;
         top: 46px;
      }

      .icon,
      .icon-cart {
         width: 32px !important;
         border: unset !important;
         height: 32px !important;
      }
   }
}

@include media-breakpoint-down(sm) {
   .trademark {
      .img {
         height: 40px;
      }
   }
   .option-wrapper {
      gap: 0 !important;
      .option {
         max-width: 28%;
      }
   }
}
