.wrapper {
   h1 {
      margin-bottom: 30px;
   }
   .input {
      font-size: 14px;
      display: block;
      padding: 14px 10px;
      color: var(--text-color);
      margin-bottom: 30px;
      border-color: var(--gray);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
   }
   .editor {
      height: 150px;
      margin-bottom: 30px;
   }
   .form {
      margin: 30px 0;

      .form-select {
         appearance: none;
         width: 100%;
         margin: 20px 0;
         padding: 12px 10px;
         border-color: var(--border-color-gray);
         color: var(--text-color);
         font-size: 16px;
         border-radius: 4px;
         transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .form-btn {
         padding: 16px 24px;
      }
   }
}
