.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;

   h2 {
      font-size: 24px;
      margin: 12px 0;
   }

   h4 {
      margin-bottom: 12px;
      margin-top: 16px;
   }
   img {
      object-fit: cover !important;
   }
   .detail-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .detail {
         display: flex;
         padding: 16px;
         width: 100%;
         box-shadow: 0 1px 4px 0 #c0c0c0, 0 2px 6px 2px rgba(101, 105, 108, 0.15);
         background-color: var(--white);
         border-radius: 6px;
         overflow: hidden;

         .wrap-img {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 12px;
            gap: 20px;
            align-items: center;

            .img {
               object-fit: contain;
               object-position: center;
               border: 1px dashed var(--border-color-gray);
               padding: 8px;
               border-radius: 4px;
               background-color: var(--bg-color);
               cursor: zoom-in;
            }
            .img-zoom {
               margin-bottom: 20px;
               border-radius: 4px;
            }
            .grid {
               display: flex;
               justify-content: space-evenly;
               gap: 10px;
               .img {
                  flex: 1;
               }
            }
         }
         .content {
            width: 50%;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
               border-bottom: 1px solid rgba(60, 64, 67, 0.231);
               padding: 4px 0;
               margin-bottom: 12px;
               font-size: 24px;
               width: 100%;
               word-break: break-word;
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
            }
            .price {
               font-weight: 600;
               font-size: 20px;
            }

            .field {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               margin-bottom: 12px;

               .name {
                  font-weight: 600;
                  font-size: 20px;
                  margin-right: 10px;
               }
               .value {
                  color: var(--text-color);
                  font-size: 18px;
               }

               .color {
                  width: 100%;
                  display: flex;

                  .color-select {
                     margin: 6px;
                     background-color: var(--bg-color);

                     .btn-color {
                        cursor: pointer;
                        display: flex;
                        width: 30px;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        border-radius: 100%;
                     }
                  }
                  .active {
                     border-radius: 100%;
                     padding: 4px;
                     border: 1px solid #000;
                  }
               }
               .option {
                  flex: 1;
                  display: flex;
                  padding: 10px 0;

                  .wrap-input {
                     display: flex;
                     align-items: center;
                     margin: 0 20px;

                     .input-btn {
                        width: 60px;
                        height: 40px;
                        display: contents;
                        margin-right: 12px;
                        padding: 12px;
                     }
                     input {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        margin: 0 8px;
                        border-radius: 4px;
                        font-size: 16px;
                        border: 1px solid var(--text-gray);
                     }
                     input[type='number']::-webkit-inner-spin-button,
                     input[type='number']::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        display: none;
                     }
                  }
                  .wrap-btn {
                     display: flex;
                     gap: 12px;

                     .btn {
                        display: flex;
                        padding: 0 12px;
                        margin-right: 12px;
                        border-radius: 4px;
                     }
                  }
               }
            }
            .btn-wishlist {
               margin: 12px 0;
               .btn {
                  font-size: 20px;

                  &:hover {
                     color: var(--slug-color);
                  }
               }
            }
            .option {
               width: 100%;
               display: flex;
               justify-content: space-between;
               align-items: center;
               border-bottom: 1px solid rgba(60, 64, 67, 0.231);

               span {
                  padding: 10px 0;
               }
            }
         }
      }
   }
   .description-container {
      width: 100%;
      margin: 30px 0;

      .description {
         padding: 14px 12px;
         border-radius: 4px;
         box-shadow: 0 1px 2px 0 var(--text-gray), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
         font-size: 14px;
         color: var(--text-gray);
      }
   }
   .review-container {
      width: 100%;
      margin-bottom: 30px;

      .reviews {
         padding: 20px;
         border-color: var(--white);
         box-shadow: 0 1px 4px 0 #c0c0c0, 0 2px 6px 2px rgba(101, 105, 108, 0.15);
         background: var(--white);
         border-radius: 4px;

         .rating {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 0.5px solid var(--border-color-gray);

            span {
               display: flex;
               gap: 4px;
               color: var(--text-gray);
               font-size: 14px;

               p {
                  text-decoration: underline;
                  cursor: pointer;
               }
            }
         }
         .form-submit {
            margin: 16px 0;

            h3 {
               color: var(--text-gray);
               margin-bottom: 16px;
            }
            textarea {
               color: var(--text-gray);
               font-size: 14px;
               border: 1px solid var(--border-color-gray);
               resize: none;
               width: 100%;
               padding: 10px;
               height: 150px;
            }

            .btn-submit {
               display: flex;
               justify-content: flex-end;
               border-bottom: 0.5px solid var(--border-color-gray);
               padding: 20px 0;

               .btn {
                  padding: 8px 16px;
               }
            }
         }

         .comments {
            width: 100%;
            position: relative;
            padding: 16px 0;

            .btn-report {
               position: absolute;
               font-size: 12px;
               text-decoration: underline;
               color: var(--text-gray);
               cursor: pointer;
               right: 10px;
               bottom: -4px;
            }
            .content {
               color: var(--text-color);
               margin-top: 0;
               margin-bottom: 0;
               font-weight: 600;
            }
            .date {
               color: var(--text-gray);
               font-style: italic;
               font-size: 12px;

               span {
                  color: var(--text-color);
                  font-size: 16px;
                  font-weight: 600;
                  margin-left: 4px;
                  margin-right: 4px;
               }
            }
            .text {
               font-size: 12px;
               color: var(--text-gray);
            }

            .reply {
               color: var(--text-color);
               padding: 14px 10px;
               font-size: 14px;
               margin-top: 12px;
               width: 100%;
               border-bottom: 0.5px solid var(--border-color-gray);
            }
         }
      }
   }

   .popular-container {
      width: 100%;
      margin-bottom: 50px;

      .products {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         gap: 10px;

         .item {
            width: calc(25% - 10px);
         }
      }
   }
}
