.wrapper {
   background-color: var(--white);
   color: #000;
   display: flex;
   height: 100%;

   .container {
      width: 100%;
      position: relative;
      padding: 8px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 2;
      transition: all 0.2s;

      .wrap-btn {
         position: absolute;
         right: 0;
         display: flex;
         z-index: 9;
         gap: 20px;
         right: -30px;
         top: 72%;
         flex-direction: column;
         transition: all 0.2s;

         .btn {
            color: var(--text-color);
         }
      }

      &:hover .img {
         transform: scale(1.03);
      }
      &:hover .wrap-btn {
         visibility: unset;
         opacity: 1;
         right: 10px;
         transition: all 0.2s;

         .btn {
            opacity: 1;
            transition: all 0.6s;
         }
      }

      &:before {
         content: '';
         position: absolute;
         border-radius: 2px;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         border: 1px solid #dd551b;
         opacity: 0;
      }
      &:hover::before {
         background-color: rgba(245, 245, 245, 0.498);
         transition: background-color 0.4s;
         opacity: 1;
      }
      .wrap-img {
         display: flex;
         justify-content: center;

         .img {
            height: 300px;
            object-fit: cover;
            transition: all 0.2s;
            border-radius: 4px;
         }
      }

      .info {
         margin-top: 12px;
         .slug {
            position: relative;
            display: flex;
            margin-top: 14px;
            justify-content: space-between;
            font-size: 14px;
            margin-inline: 4px;

            p {
               color: var(--slug-color);
            }
            .btn {
               right: 0;
               z-index: 11;
               position: absolute;
            }
         }
         .title {
            margin-top: 12px;
            font-size: 24px;
            font-weight: 600;
         }
         .description {
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            max-width: 200px;
            white-space: nowrap;
            color: #545252bd;
         }

         .price {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p {
               margin-left: 4px;
               font-weight: 700;
               color: #cb1c22;
               line-height: normal;
            }
         }
         .sold {
            margin-top: 12px;
            color: #a7a7b1;
            line-height: 16px;
            font-size: 14px;
         }
         .rating {
            margin-top: 12px;
         }
      }
      &:hover {
         cursor: pointer;
      }
   }
   .sort {
      flex-direction: row;

      .wrap-btn {
         top: 30%;
      }
      &:hover .wrap-btn {
         visibility: unset;
         opacity: 1;
         right: 20px;
         transition: all 0.2s;
      }

      .wrap-img {
         width: 30%;
      }

      .info {
         flex: 1;
         padding: 12px 10px;
      }
   }
}
